@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'firefoxos';
	src: url('FiraSansOTRegular.otf') format("opentype");
}
 html, body {
	font-size: 10px;
	background:
		url(gradient.png)) repeat top bottom,
		url(pattern.png)) repeat top bottom;
}

h1{
	font-size: 2.5rem;
}
*{
	font-family:'firefoxos';
}

article{
font-size: 2rem;
}




