/* ----------------------------------
 * HEADERS: default
 * ---------------------------------- */
section[role="region"] > header:first-child {
  position: relative;
  

  z-index: 100;
  padding: 0;
  height: 5rem;
  width:100%;;
  color: #fff;
  background-color: #000080;
  border: none;
  display:inline-block;
}



section[role="region"] > header:first-child h1 {
  font-size: 2.5rem;
  line-height: 5rem;
  text-align: left;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline;
  overflow: hidden;
  margin: 0;
  padding: 0 1rem 0 2rem;
  width:100px;
  height: 100%;
  font-weight: lighter;
}

section[role="region"] header #reveno{
	
	line-height:5rem;
	background-color:#03C;
	height:5rem;
	width:4rem;
	margin:0px;
	}
	section[role="region"] header #resolv{
	background-color:#03C;
	height:5rem;
	width:4px;
	display:inline-block;
	position:relative;
	float:right;
	text-align:center;
	line-height:5rem;
	width:100px;
	
	}



