@charset "utf-8";
/* CSS Document */

.centrado {
padding-top:25px;
padding-bottom:50px;
margin:-1px auto;
width:auto;
overflow:hidden;
text-align:center;
}

.menuback{
text-align:center;
padding:0px;
margin:0px;
width:100%;
height:3rem;
margin-top:0px;
background-color:#000080;
position:relative;
display:table;
}
.ibtn{
	text-align:center;
	position:relative;
	float:left;
	width:64px;
	height:2rem;
	color:#FFF;
	margin-bottom:0px;
}
#lego{
	text-align:center;
}

.title{
	display:inline-block;
	position:relative;
	float:left;
	width:40px;
}

#botones{
	display:block;
}

.opcion {
	width:140px;
	height:140px;
	border:solid;
	border-color:#000080;
	float:left;
	margin-left:6px;
	margin-bottom:6px;
	vertical-align:bottom;
	background-color:#000080;
	
}
.square{
	display:inline-block;
	font-size:1rem;
	margin:auto;
	width:100%;
	padding-top:40px;
	
}
.square li{
	display:inline-block;
	display: -moz-inline-stack;
	margin: 0 auto 0 auto;
	width:320px;
	
}
.square ul{
	text-align:center;
}
.square input{
	width:30px;
}
.num{
	font-size:2.5rem;
	padding-top:60px;
	padding-bottom:50px;
	margin:-1px auto;
	width:auto;
	overflow:hidden;
	text-align:center;
	color:#FFF;
}
.coef7{
	font-size:1.5rem;
}
.coef3{
    font-size:1.5rem;
}

#pie{
border-color:#0000DF;
color:#FFF;
background-color:#00C;
font-size:3rem;
text-align:center;
width: 100%; 
bottom: 0px;
height:4rem;
}

.resolbottom{
color:#FFF;
background-color:#00C;
border-style:none;
font-size:2rem;
text-align:center;
top:0px;
bottom: 0px;
height:2.5rem;
}

.mol{
	list-style:circle;
}

.titulo{
	color:#000080;
	border-bottom-style:dashed;
	border-bottom-color:#000080;
	border-bottom-width:medium;
}

.mGrades{
	text-align:center;
	
}

.mGrades ul{
	width: 100%; 
	margin-left:auto;
	margin-right:auto;

}

.mGrades li {
	display: inline-block; 
	background-color:#000080;
	height: 160px; 
	line-height: 190px; 
	font-size:5rem;
	width: 100px; 
	border: solid 1px black;
	border-radius:30px;
}

.mGrades a{
	text-decoration:none;
	outline:none;
	color:#ffffff;
}

#factors{
    padding-top:50px;
    text-align:center;
}

#factors input{
    width:40px;
}

#factors ul{
    width: 100%; 
	margin-left:auto;
	margin-right:auto;
}

#factors li{
    display:inline;
	font-size:1rem;
	margin:auto;
	width:100%;
}







